.container {
  width: 100%;
  background: url("../../assets/massage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  padding: 1rem 2rem;

  h1 {
    background-color: #000;
    opacity: .5; 
    border-radius: 5px 0 5px 0;
    width: max-content;
    padding: .5rem;
    color: #fff;
    font-size: 2.3rem;
  }
  
}


.container2 {
  width: 100%;
  background: url("../../assets/acupuntura4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  padding: 1rem 2rem;

  h1 {
    background-color: #000;
    opacity: .5; 
    border-radius: 5px 0 5px 0;
    width: max-content;
    padding: .5rem;
    color: #ffffff;
    font-size: 2.3rem;
  }
  
}


.container3 {
  width: 100%;
  background: url("../../assets/ventosaterapia.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  padding: 1rem 2rem;

  h1 {
    background-color: #000;
    opacity: .5; 
    border-radius: 5px 0 5px 0;
    width: max-content;
    color: #ffffff;
    line-height: 3rem;
    padding: .5rem;
    font-size: 2.3rem;
   
  }
  
}

.container4 {
  width: 100%;
  background: url("../../assets/terapia_Florais-de-Bach.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  padding: 1rem 2rem;

  h1 {
    background-color: #000;
    opacity: .5; 
    border-radius: 5px 0 5px 0;
    width: max-content;
    color: #ffffff;
    line-height: 3rem;
    font-size: 2.3rem;
    padding: .5rem;
   
  }
  
}