.container {
  width: 100%;
  background: url("../../assets/massage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  padding: 1rem 2rem;

  h1 {
    color: #fff;
  }
  
}