@import '../../themes/themes.scss';

.container {
  background-color: $bg4-color ;
  margin: 0 4.5%;
  padding: 7%;


  .content {
    background-color: $bg3-color;
    margin: 8rem 0 auto;
    max-width: 100rem;

    .content_form {
       max-width: 69.9rem;
       margin: 0 auto;
      
       .title {
        width: 100%;
        font-family: 'Playfair Display';
        color: $title-color;
        line-height: 8rem;
        background-color: $bg2-color;
        height: 13.9rem;
       
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -7rem;

        h2 {
          background-image: url('../../components/assets/AspectRatio.svg');
          background-repeat: no-repeat;
          background-position: bottom;
          font-size: 3.2rem;
          padding: 0 8rem;
          line-height: 6.5rem;
        }

      }

      .infor_contact {
        text-align: center;
      }
    }


  }



}