@import '../../themes/themes.scss';

.container {
  background-color: $bg4-color;
  padding: 5% 4%;

  .content {
    max-width: 98%;
    margin: 0 auto;
    background-color: $bg3-color;
    padding: 14% 10%;
    position: relative;


    .box_contact {
      background-color: $bg-color;
      position: relative;



      .header_contact {
        margin: 0 auto;
        background-color: $bg2-color;
        max-width: 69.9rem;
        height: 16rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        gap: 1rem;
        position: relative;
        top: -8rem;


        h1 {
          color: $title-color;
          font-family: "Playfair Display", serif;
          font-size: 4.2rem;
        }

        img {
          width: 30rem;
        }
      }

      .info_contact {
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 2rem;
        background-color: chartreuse;
        margin-top: -1rem;
      }

      .content_gridContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .text_input {
          display: flex;
          flex-flow: column;
        }
      }

    }

  }

}