@import '../../themes/themes.scss';
.container { 

  
  .about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(49rem, 1fr));
    padding: 4rem 4rem;

    background-color: #fff;
       
    .about_image {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      background-color: #efefef;

      img {
        width: 50%;
    
      }
    }
    .about_text {
      padding: 6rem 10rem;
      position: relative;
      background-color: $bg2-color ;
      display: flex;
      flex-flow: column;
      gap: 3rem;
      position: relative;
      color: $title-color;

      h1 {
        font-family: "Playfair Display", serif;
        
      }

      img {
        position: absolute;
        top: 10rem;
        left: -1rem;
        
      }

      button {
        width: max-content;
        padding: 2rem 6rem;
        background-color: $text-color;
        color: #fff;
        border: none;
        cursor: pointer;
        box-shadow: 3px 3px 2px #415941  ;
        transition: 500ms ease;

        &:hover {
          background-color: #283f28;
        }
        &:active {
          box-shadow: 1px 1px 0px #415941;
        }
      }

      .about_header {
        display: flex;
        flex-flow: column;
        gap: 1rem;
        margin-top: 3rem;

        h2, p {
          font-size: 1.6rem;
          line-height: 1.8rem;
        }
        
      }
    }

  }
}

@media (max-width: 1024px) {
  .container {
    grid-template-columns: 
    repeat(auto-fit, minmax(0rem, 1fr));

  }
}




