.container {
  width: 100vw;
  height: 70vh;
  background: linear-gradient(90deg, rgb(8, 2, 128) 0%, rgb(18, 86, 189) 35%, rgb(2, 141, 168) 100%);

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

  .boxText {
    padding: 5rem 8rem;
  }

  .boxImage {
    background-image: url('../../../../components/assets/cupping.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}