.slide1_container {
  background-color: slategray;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

    .box_text {
      background-color: brown;
      padding: 4rem 13rem;
    }

    .box_image {
      background-color: chocolate;

    }
}