.keen_slider__container {
  

}

/* viewer sliders*/

.number_slide {
  width: 18rem;
  height: 10rem;
  background-color: chartreuse; 
  display: flex;
  justify-content: center;
  cursor: pointer;
}
