.keen_slider__container {
  background-color: aqua;
  height: max-content;

}


.thumbnail {
  width: 18rem;
  height: 10rem;
 
}


/* viewer sliders*/

.number_slide {
  width: 18rem;
  height: 10rem;
  background-color: chartreuse; 
  display: flex;
  justify-content: center;
  cursor: pointer;
}
